<a href="https://colab.research.google.com/github/santhoshib-17/SQL_Retail_sales_P1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Basic List Operation:
Write a Python program to create a list with the elements [10, 20, 30, 40, 50]. Then, replace the third element with 100 and print the updated list.
2.List Slicing:
Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9], write a Python program to print the first 5 elements and the last 3 elements using slicing.
3.List Comprehension:
Write a Python one-liner using list comprehension to generate a list of squares for numbers from 1 to 10.

In [6]:
a="10,20,30,40,50"
a.replace("30","100")

'10,20,100,40,50'

In [13]:
a=[1,2,3,4,5,6,7,8,9]
print(a[:5])
print(a[-3:])

[1, 2, 3, 4, 5]
[7, 8, 9]

In [14]:
c=[x**2 for x in range (1,11)]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tuple (2 Questions)
4.Tuple Immutability:
Given t = (1, 2, 3, 4), try modifying the second element to 10. What error do you get, and why?
5.Tuple Unpacking:
Given the tuple coordinates = (4, 5), write a Python program to unpack its values into two variables x and y and print them.


```
# This is formatted as code
```

In [16]:
#t=(1,2,3,4)
#t.replace("2","10")
# As tuple is immutable, we cannot modify

In [19]:
tuple_name = (4,5)
x,y= tuple_name
print(x)
print(y)

4
5